[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlmodel = "*"
streamlit = "*"
openpyxl = "*"

[dev-packages]
black = "*"
isort = "*"
pylint = "*"
watchdog = "*"

[requires]
python_version = "3.10"
